<div id="sidebar">
  <section>
    <ul class="divided">
      <li>
        <div>
          {% banner300 /img/bitfinex/bitfinex_referral-code_300.jpg https://www.bitfinex.com/?refcode=5egV78YtlC %}
        </div>
      </li>
      <li>
        <div>
            {% banner300 /img/vcc/wirex.png https://www.e-coin.io/?ref=8dc1bab8343c41049b4cb7a2f1e47b4e %}
        </div>
      </li>
      <h3>Bitcoin News:</h3>
        <ul>
          <li><a href="https://www.reddit.com/r/bitcoinmarkets" target="_blank">/r/bitcoinmarkets</a></li>
          <li><a href="https://www.reddit.com/r/cryptomarkets" target="_blank">/r/cryptomarkets</a></li>
        </ul>
        <h3>YouTube:</h3>
        <ul>
          <li><a href="https://www.youtube.com/channel/UCqNCLd2r19wpWWQE6yDLOOQ" target="_blank">The Daily Decrypt</a></li>
        </ul>
        <h3>Blogs:</h3>
        <ul>
          <li><a href="http://wallstreettechnologist.com/" target="_blank">Wall Street Technologist</a></li>
          <li><a href="https://blog.ethereum.org/" target="_blank">Official ETH blog</a></li>
          <li><a href="http://bytemaster.bitshares.org/" target="_blank">Bitshares blog</a></li>
          <li><a href="http://jackcliu.com/" target="_blank">Jack Liu of OKCoin</a></li>
        </ul>
      <li>
        <div>
          {% banner300 https://www.ledgerwallet.com/images/promo/ledger-500x500-01.jpg https://www.ledgerwallet.com/r/e274 %}
        </div>
      </li>
    </ul>
  </section>
</div>
